@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(./assets/file1.woff2);
}

@font-face {
  font-family: anzo2;
  src: url(./assets/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/file3.woff2);
}

@font-face {
  font-family: anzo4;
  src: url(./assets/file4.woff2);
}

@font-face {
  font-family: anzo5;
  src: url(./assets/file5.woff2);
}

@font-face {
  font-family: anzo6;
  src: url(./assets/file6.woff2);
}

#hero-i {
  position: relative;
  perspective: 1000px;
}

#tiltDiv {
  width: fit-content;
  transform: rotateY(50deg) rotateX(50deg);
}
